@import './../../scss/variable.scss';

form {
    // font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    // height: 100%;
    margin: 10% auto;
    width: 90%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    box-sizing: border-box;
    justify-content: space-around;
    padding: 4%;
    background-image: linear-gradient(to bottom right, $med-darkgreen, $lightgreen);
    box-shadow: 1px 0 10px lavender;
    border-radius: 1%;
}

fieldset {
    position: relative;
    margin: 0 0 4%;
    padding: 0;
    width: 100%;
    height: 50px;
    border: none;

    input {
        border: none;
        width: 96%;
        height: 100%;
        font-size: 1.4em;
        cursor: pointer;
        color: $navgreen;
        box-shadow: 0 1px 0 0 $med-navgreen inset;
        outline: none;
        border-radius: 1%;
        padding-left: 4%;
    }

    input[type="submit"] {
        font-weight: 900;
        text-indent: initial;
        text-align: right;
        color: $navgreen;
        border-image: none;
        border-width: 0;
        box-shadow: none;
        width: 100%;
        background-color: transparent;

        &:active {
            background-color: $lightgreen;
            color: $navgreen;
        }

        &:focus {
            outline: $lightgreen;
        }
    }

    .label-style {
        width: 100%;
        height: 100%;
        text-align: end;
        position: absolute;
        left: 0px;
        bottom: -5px;
        pointer-events: none;

        &::after {

            position: absolute;
            left: 0px;
            bottom: -1px;
            height: 100%;
            width: 100%;
            border-bottom: 3px solid green;
            transform: translateX(-100%);
            transition: transform .3s ease;
        }

    }

    .content-style {
        position: absolute;
        bottom: -11px;
        left: 0px;
        width: 96%;
        transition: all .3s ease;
        font-size: 14px;
        font-weight: 200;
        color: $navgreen;
        margin: 1%;
        transform: translateY(-150%);
        z-index: 1;
    }
}


.field-label {
    input:focus+.label-style .content-style {
        transform: translateY(-100%);
        font-size: 18px;
        color: $navgreen;
        font-weight: 300;
    }

    #birthDate:focus+.label-style .content-style,
    #date:focus+.label-style .content-style {
        transform: translateY(-250%);
        font-size: 16px;
        color: $navgreen;
        font-weight: 300;
    }

    input:focus {
        background-color: lighten(lavenderblush, 2%);
        font-weight: 800;
    }
}

.field-label input:focus+.label-style::after,
.field-label input:valid+.label-style::after {
    transform: translateY(0%);
}