@import 'variable';
@import './../components/nav/nav';
@import './../components/device/device';
@import './../components/form/form';
@import './../components/user/user';
@import './../components//newItem/newItem';
@import './../pages/pages';



.App {
  text-align: center;
  margin: 0;
  // height: 100vh;
  background-color: lighten($lightgreen, 10%);
}

body {
  margin: 0;
}

// h2,
// h3,
// h4,
// h5 {
//   margin: 0;
// }

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}