nav {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    place-items: center;
    height: 40vh;


    button {
        // padding: 12%;
        padding: 3.4%;
        background-color: blue;
    }

    .gateway {
        margin: 0 auto;
        height: 40vh;




    }
}

// section {
//     width: 100%;

// }