@import './../../scss/variable.scss';

nav {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    place-items: center;
    height: 8vh;
    background-color: $darkgreen;
    font-family: 'Audiowide', cursive;

    button {

        padding: 1.8% 6%;
        background-color: transparent;
        color: $lightgreen;
        font-weight: 600;
        font-size: 1.1em;
        border: none;

        &:active {
            background-color: $navgreen;
        }
    }

    .gateway {
        margin: 0 auto;
        height: 40vh;

    }
}